$h1FontSize: 35px;
$h2FontSize: 30px;
$h3FontSize: 20px;
$defaultFontSize: 16px;

$timelineDefaultBoxSize: 40px;
$timelineLargeBoxSize: 60px;

$imgSize: 150px;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: $defaultFontSize;
    font-family: SimSun, serif;
    background-image: url("../img/container_bg.jpeg");
    background-size: cover;
}

body, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
    max-width: 100%;
}

header {
    height: $h1FontSize * 2;
    background: url("../img/header_bg.png");
    background-size: cover;

    h1 {
      font-size: $h1FontSize;
      line-height: $h1FontSize * 2;
      color: #b1cfea;

      span {
        display: inline-block;
        cursor: pointer;
        font-family: KaiTi, serif;
      }

      span:hover {
        color: gold;
      }

      .name {
        float: left;
        margin-left: 10%;
      }

      .title {
        float: right;
        margin-right: 12%;
      }
    }
}

.intro {
  margin: 2% 15%;

  h2 {
    line-height: 2;
    text-align: center;
    font-size: $h2FontSize;
    color: #007bc4;
    font-weight: bolder;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    min-height: $imgSize;
    align-items: center;
    justify-content: center;
  }

  p {
    color: #203f5a;
    text-indent: 1em;
    line-height: 2  ;
    font-size: 20px;
  }

  .photo {
    position: relative;
    width: $imgSize;
    height: $imgSize;
    margin: 1em 0;
  }
}

.container {
  position: relative;
  width: 80%;
  margin:  2em auto;
  padding: 2em 0;
}

.container::before {
  content: '';
  position: absolute;
  background: #d7e4ed;
  height: 100%;
  width: 5px;
  top: 0;
}

.timeline-works {
  position: relative;
  margin: 2em 0;
}

.timeline-works:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-works:first-child {
  margin-top: 0;
}

.timeline-works:last-child {
  margin-bottom: 0;
}

.timeline-icon {
  position: absolute;
  width: $timelineDefaultBoxSize;
  height: $timelineDefaultBoxSize;
  left: -18px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

  img {
    display: block;
    position: relative;
    left: 25%;
    top: 25%;
    width: $timelineDefaultBoxSize / 2;
    height: $timelineDefaultBoxSize / 2;
  }
}

.timeline-icon {
  opacity: 0.8;
}

.timeline-works:first-child .timeline-icon{
  background: orange;
}

.timeline-works:nth-child(2) .timeline-icon{
  background: yellow;
}

.timeline-works:nth-child(3) .timeline-icon{
  background: lawngreen;
}

.timeline-works:nth-child(4) .timeline-icon{
  background: cyan;
}

.timeline-works:last-child .timeline-icon{
  background: deepskyblue;
}

.timeline-content {
  position: relative;
  margin-left: 10%;
  background: transparent;
  border-radius: 0.5em;
  border: 1px solid deepskyblue;
  padding: 1em;

  .timeline-img {
    position: relative;
    float: right;
    margin: 0.5em;
    width: 25%;
  }

  .timeline-img:hover {
    -webkit-animation: circle 2s infinite linear;
  }

  @-webkit-keyframes circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .date {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-family: "Times New Roman", serif;
    color: blue;
    opacity: .5;
  }

  .timeline-desc {
    line-height: 2;
    padding-bottom: 10%;

    h3 {
      display: inline-block;
      color: #9c60d3;
      text-indent: 0.5em;
      font-size: $h3FontSize;
    }

    p {
      font-size: $defaultFontSize;
      color: black;
      text-indent: 1em;
    }

    .first-para {
      display: inline;
    }
  }
}

footer {
  background-color: #0c1d27;
  text-align: center;

  p {
    font-family: Arial, serif;
    font-size: $defaultFontSize;
    color: #978ce6;
    padding: 25px 0;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1000px) {
  .intro {
    .intro-content {
      flex-direction: row;
    }

    p {
      margin-right: 2%;
    }

    .photo {
      order: 2;
    }
  }

  .container {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .container::before {
    left: 50%;
    margin-left: -2px;
  }

  .timeline-works {
    margin: 4em 0;
  }

  .timeline-works:first-child {
    margin-top: 0;
  }

  .timeline-works:last-child {
    margin-bottom: 0;
  }

  .timeline-icon {
    width: $timelineLargeBoxSize;
    height: $timelineLargeBoxSize;
    left: 50%;
    margin-left: -30px;

    img {
      width: $timelineLargeBoxSize / 2;
      height: $timelineLargeBoxSize / 2;
    }
  }

  .timeline-content {
    margin-left: 0;
    padding: 1em;
    width: 45%;

    .date {
      position: absolute;
      width: 100%;
      left: 120%;
      top: 6px;
    }

    .timeline-desc {
      padding-bottom: 0;
    }
  }

  .timeline-works:nth-child(even) .timeline-content {
    float: right;

    .date {
      left: auto;
      right: 120%;
      text-align: right;
    }

    .timeline-img {
      float: left;
    }
  }

  .timeline-works:nth-child(odd) .timeline-img:hover {
    -webkit-animation: circle_reverse 2s infinite linear;
  }

  @-webkit-keyframes circle_reverse {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .timeline-works:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
}